@font-face{
    font-family:"Helvetica Neue Cyr" ;
    src:url(project/assts/fonts.ttf)
}

body{
    background-color:white;
}
.container-1{
    background-color: white;
    height: 1322px;
    width: 1528px;
    padding:10px solid ;
    margin-left:197px;
    border-radius:2px;
    font-size: 24px;
    line-height: 30px;
    color: #4d4d4d;
    font-weight: 300;
    font-family: "Helvetica Neue Cyr";
}
.colortext{
  color:15a4f4;
}
.container-2{
	 display: flex;
}
.box{ 
width: 360px;
height: 644px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.07));
background-color:#fcfcfc;
margin-top: 84px;
margin-left: 134px;
}
.box-header{
	width: 360px;
height: 62px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.07));
background-color: #6d717d;
color: white;
padding-top: 20px;
text-align: center;
text-transform: uppercase;
}
.container-3{
	display: block;
}
i{
color: #00c300;
}
hr{   
    width: 290px;
background-color: #dbdbdb;
margin-left: 20px;
}
.card{
	width: 750px;
height: 644px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.05));
background-color: #fcfcfc;
margin-top: 82px;
margin-left: 36px;
}
.card-header {
width: 750px;
height: 62px;
border-radius: 4px;
background-color: #15a4f4;
text-align: center;
padding-top:20px;
}
.card-header span {
text-transform: uppercase;
font-size: 34px;
color: #fff;
}
.card-content {
display: flex;
justify-content: space-around;


}
.card-content--advantages ul li{
	margin-top:2px;
	padding:0 ;
}
.box-conrolls{
	width: 360px;
height: 40px;
border-radius: 4px;
filter: drop-shadow(0px 10px 12.5px rgba(32,205,33,0.05));
background-color: #34749d;
color: white;
text-align: center;
text-transform: uppercase;
padding-top: 10px;
margin-top: 300px;
}
.card-content--price{
	font-size: 18px;
line-height: 38px;
color: #1a1a1a;
font-weight: 500;
}
li{
	list-style-type: none;
	font-size: 18px;
line-height: 38px;
color: #4d4d4d;
font-weight: 300;
font-family: "Helvetica Neue Cyr";

}
small{
	font-size: 14px;
line-height: 38px;
color: #999999;
font-weight: 300;
margin-left: 45px;
line-height: 0.9em;
}
p{
	margin-left: 42px;
	margin-top: 1px;
    
    padding:0;
}




    











