@font-face {
  font-family: Helvetica Neue Cyr;
  src: url(./assets/fonts/helveticaneuecyr-light.ttf);
}
body{
    background-color:white;
}
.container-1{
    background-color: white;
    height: 1322px;
    width: 1528px;
    padding:10px solid ;
    margin-left:197px;
    border-radius:2px;
    font-size: 24px;
    line-height: 30px;
    color: #4d4d4d;
    font-weight: 300;
    font-family: "Helvetica Neue Cyr";
}
.colortext{
  color:15a4f4;
}
.container-2{
  display: flex;
}
.container-3{
  display: flex;
}
.box-1{
width: 360px;
height: 644px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.07));
background-color: #fcfcfc;
margin-top: 88px;
margin-left:194px;
}


small{
  font-size: 14px;
line-height: 38px;
color: #999999;
font-weight: 300;
font-family: "Helvetica Neue Cyr";
text-align: right;
}

.box-2{
width: 750px;
height: 644px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.05));
background-color: #fcfcfc;
margin-top: 78px;
margin-left: 32px;

}
.box-3{
  font-size: 18px;
line-height: 38px;
color: #4d4d4d;
font-weight: 300;
font-family: "Helvetica Neue Cyr";
height: 450px;
width:300px ;
margin-bottom: 70px;
}
{
  font-size: 35px;
  color: chartreuse;
}
a{
  font-size: 18px;
line-height: 38px;
color: #4d4d4d;
font-weight: 300;
font-family: "Helvetica Neue Cyr";


}
.box-4{
  margin-left:90px;
  height: 462px;
}
h1{
  width: 360px;
height: 82px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.07));
background-color: #6d717d;
font-size: 34px;
line-height: 38px;
color: #ffffff;
font-weight: 43;
font-family: "Helvetica Neue Cyr";

h2{
  width: 750px;
height: 82px;
border-radius: 4px;
background-color: #15a4f4;
font-size: 34px;
line-height: 38px;
color: #ffffff;
font-weight: 500;
font-family: "Helvetica Neue Cyr";
text-align: center;
}
h3{
  width: 360px;
height: 50px;
border-radius: 4px;
filter: drop-shadow(0px 10px 12.5px rgba(32,205,33,0.05));
background-color: #34749d;
font-size: 16px;
line-height: 29px;
color: #ffffff;
font-weight: 500;
font-family: "Helvetica Neue Cyr";
text-align: center;
margin-top: 240px;
}
h4{
  width: 360px;
height: 50px;
border-radius: 4px;
filter: drop-shadow(0px 10px 12.5px rgba(52,116,157,0.05));
background-color: #20cd21;
font-size: 16px;
line-height: 29px;
color: #ffffff;
font-weight: 500;
font-family: "Helvetica Neue Cyr";
text-align: center;
margin-bottom: 40px;

}
h5{
  width: 360px;
height: 50px;
border-radius: 4px;
filter: drop-shadow(0px 10px 12.5px rgba(21,164,244,0.05));
background-color: #34749d;
font-size: 16px;
line-height: 29px;
color: #ffffff;
font-weight: 500;
font-family: "Helvetica Neue Cyr";
text-align: center;
margin-top:350px;
}
