@font-face{
    font-family:"Helvetica Neue Cyr" ;
    src:url(../assets/fonts/helveticaneuecur-light.ttf)
}

body{
    background-color:white;
}
.container-1{
    background-color: white;
    height: 1322px;
    width: 1528px;
    padding:10px solid ;
    margin-left:197px;
    border-radius:2px;
    font-size: 24px;
    line-height: 30px;
    color: #4d4d4d;
    font-weight: 300;
    font-family: "Helvetica Neue Cyr";
}
.colortext{
  color:15a4f4;
}
.container-2{
  display: flex;
}
.container-3{
  display: flex;
}
.box-1{
    width: 360px;
height: 644px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.07));
background-color:#fcfcfc;
margin-top: 84px;
margin-left: 134px;


}
h1{
    width: 360px;
height: 62px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.07));
background-color:#6d717d;
font-size: 34px;
line-height: 38px;
color: #ffffff;
font-weight: 500;
font-family: "Helvetica Neue Cyr";
padding-top:20px;
text-align: center;
margin-top:0px;

}
p{
    font-size: 18px;
line-height: 38px;
color: #4d4d4d;
font-weight: 300;
font-family: "Helvetica Neue Cyr";
text-align: center;

}
small{
    font-size: 14px;
line-height: 38px;
color: #999999;
font-weight: 300;
font-family: "Helvetica Neue Cyr";
padding-left: 80px;
padding-bottom: 80px;
}
h2{
    width: 360px;
height: 40px;
border-radius: 4px;
filter: drop-shadow(0px 10px 12.5px rgba(32,205,33,0.05));
background-color: #34749d;
font-size: 16px;
line-height: 29px;
color: #ffffff;
font-weight: 500;
font-family: "Helvetica Neue Cyr";
text-align: center;
padding-top: 10px;
margin-top: 197px;
}
.box-2{
    width: 750px;
height: 644px;
border-radius: 4px;
filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.05));
background-color: white;
margin-top: 84px;
margin-left:35px ;

}
h3{
    width: 750px;
height: 62px;
border-radius: 4px;
background-color: #15a4f4;
font-size: 34px;
line-height: 38px;
color: #ffffff;
font-weight: 500;
font-family: "Helvetica Neue Cyr";
text-align: center;
padding-top: 20px;
margin-top: 0px;
}
i{
font-size: 11px;
color: #00c300;
}










